apistar==0.7.2
apistar-crud==0.6.6
apistar-pagination==0.4.0
chardet==3.0.4
Click==7.0
dj-database-url==0.5.0
dj-static==0.0.6
Django==3.1.13
django-appconf==1.0.3
django-bootstrap-form==3.4
django-crispy-forms==1.8.1
django-extensions==2.2.5
django-select2==7.1.2
django-sortable-column==0.2.2
django-toolbelt==0.0.1
djangoajax==3.1
djangorestframework==3.11.0
easy-thumbnails==2.7
gunicorn==20.0.4
idna==2.8
Jinja2==2.10.3
MarkupSafe==1.1.1
Pillow==6.2.1
psycopg2==2.8.4
pytz==2019.3
PyYAML==5.2
requests==2.22.0
six==1.13.0
static3==0.7.0
urllib3==1.25.7
virtualenv==16.7.9
Werkzeug==0.16.0
whitenoise==5.0.1
